@import url("https://use.typekit.net/rih8whe.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scroll-behavior: smooth;

    --background: 0 0% 100%;
    --foreground: 0 0% 10.2%;

    --card: 0 0% 92.55%;
    --card-foreground: 0 0% 10.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0, 0%, 44.71%;

    --accent: 0 0% 92.55%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 10.2%;
    --ring: 0 0% 10.2%;

    --radius: 0.5rem;
    overflow-x: hidden;
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 0, 0%, 5.1%;

    --card: 0, 0%, 92.55%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0, 0%, 43.53%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    display: flex;
    flex-direction: column;
    background-color: white; 
    background-color: var(--background);
    color: #1A1A1A;
    color: hsl(var(--foreground));
    overflow-x: clip;
    font-family: canada-type-gibson, sans-serif;
  }
  p {
    @apply mb-5 text-base font-thin sm:text-xl md:mb-3 xl:mb-5;
  }
  li {
    @apply text-base sm:text-xl;
  }
  h1,
  h2,
  h3 {
    @apply mb-8 font-medium;
  }
}

@layer utilities {
  .custom-height-xl {
    min-height: max(55rem, 100vh);
  }
  .custom-height-2xl {
    min-height: min(100dvh, 58rem);
  }

  .custom-height-div-2xl {
    min-height: min(34vh, 22rem);
  }
}
